@charset "UTF-8";
/* CSS Document */

.row7 .input{
  max-width: 50%;
  display: block;
}



@media (min-width: 768px) {
	
	.container{
		margin:  auto;
		width:  80%;
		max-width: 1000px;
	}
	body{
		display: flex;
		
	}
	.contact,
	.row1,
	.row2,
	.row3,
	.row4,
	.row5,
	.row6,
	.row7{
		display: flex;
		flex-direction:row;
		align-items:  center;
		
		}
	
	.group2{
		width:  100%;
	}
	
	
	h2{
		margin-top: 74px;
	}
	footer span{
		margin-bottom: 310px;
	}
	
.label {
  flex-basis: 25%;
}
.input,
select {
  flex-basis: 70%;
  flex-grow: 1;
}
.row7 .input {
  max-width: 25%;
}
}








	
	
	
